{% extends 'base.html.twig' %}

{% block title %}Atelier index{% endblock %}

{% block body %}
    <h1>Atelier index</h1>
    {% for atelier in ateliers %}
        {{ include('bootstrap/_index_atelier.html.twig') }}
    {% endfor %}

{% endblock %}
