{% extends 'base.html.twig' %}

{% block title %}New Atelier{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        Create a new Atelier
                    </div>
                    {{ include('bootstrap/_form_atelier.html.twig') }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
