{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        Log in
                    </div>
                    {{ include('bootstrap/_form_login.html.twig') }}
                </div>
            </div>
        </div>
    </div>



{% endblock %}
